@import "https://fonts.googleapis.com/css2?family=Recursive&display=swap";

$font-stack: "Recursive", monospace;

$link: hsl(0, 0%, 21%);
$link-hover: hsl(204, 71%, 39%);

$read-more: hsl(204, 71%, 39%);
$read-more-hover: hsl(348, 100%, 61%);


body {
  font: 100% $font-stack;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

section {
  flex: 1;
}

img[theme="dark"],
picture[theme="dark"],
video[theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  color: $link;
  &:hover {
    color: $link-hover;
  }
}
.read-more {
  color: $read-more;
  &:hover {
    color: $read-more-hover;
  }
}

$breakpoint-mobile: 768px;
@media (max-width: $breakpoint-mobile) {
  body {
    font: 85% $font-stack;
  }
}
