{% extends "base.html" %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title is-1">
          <span class="icon mr-2"><i class="fas fa-tags"></i></span> Tags
        </h1>
        <p class='subtitle'>{{ terms | length }} tags in total</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    {% for tag in terms %}
    <span class="my-3 mx-2" style="display: inline-block;">
      <a class="link" href="{{ get_taxonomy_url(kind="tags", name=tag.name) }}">
        <span class="icon"><i class="fas fa-tag"></i></span>{{ tag.name }}<sup>{{ tag.pages | length }}</sup>
      </a>
    </span>
    {% endfor %}
  </div>
</section>
{% endblock content %}