{% extends "base.html" %}

{% block header %}
<header class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <span class="icon"><i class="fas fa-tags"></i></span> Tags
      </h1>
      <h2 class="subtitle">
        {{ terms | length }} tags in total
      </h2>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section py-0">
  <div class="container">
    {% for tag in terms %}
    <span class="my-3 mx-2" style="display: inline-block;">
      <a class="link" href="{{ get_taxonomy_url(kind="tags", name=tag.name) }}">
        <span class="icon"><i class="fas fa-tag"></i></span>{{ tag.name }}<sup>{{ tag.pages | length }}</sup>
      </a>
    </span>
    {% endfor %}
  </div>
</section>
{% endblock content %}