{% extends "base.html" %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-tags"></i>
            </span>
            <span>Tags</span>
          </span>
        </h1>
        <p class='subtitle'>{{ terms | length }} tags in total</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <p class="has-text-centered">
      {% for tag in terms %}
      <a href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-tag"></i>
          </span>
          <span>{{tag.name}} <sup>{{ tag.pages | length }}</sup></span>
        </span>
      </a>
      {% endfor %}
    </p>
  </div>
</section>
{% endblock content %}