{% extends "base.html" %}

{% block header %}
<header class='hero'>
  <div class='hero-body pb-0'>
    <div class='container'>
      <div class='has-text-centered'>
        <h1 class="title">
          <span class="icon-text">
            <span class="icon">
              <i class="fas fa-folder" style="position: relative;top: 7px;"></i>
              <i class="fas fa-folder" style="position: relative;left: -65px;top: -7px;"></i>
            </span>
            <span>Categories</span>
          </span>
        </h1>
        <p class='subtitle'>{{ terms | length }} categories in total</p>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <p class="has-text-centered">
      {% for category in terms %}
      <a href="{{ get_taxonomy_url(kind='categories', name=category.name) }}">
        <span class="icon-text">
          <span class="icon">
            <i class="fas fa-folder"></i>
          </span>
          <span>{{category.name}} <sup>{{ category.pages | length }}</sup></span>
        </span>
      </a>
      {% endfor %}
    </p>
  </div>
</section>
{% endblock content %}