{% extends 'base.html' %}
{% block content %}
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-9">
            {% if config.extra.author.avatar %}
            <figure class="image center">
              <img class="is-rounded card" src='{{ config.extra.author.avatar }}' style="max-width: 180px" />
            </figure>
            {% endif %}
            <div class="has-text-centered">
              <h1 class="title">
                HTTP 404
              </h1>
              <h2 class="subtitle">
                It seems you are looking for something that I don't have.
              </h2>
              <p class="is-size-4">
                {{ macros:: social_links( social_config=config.extra.social) }}
              </p>
            </div>
            <hr/>
            <p class="has-text-centered">
              <a class="link" href='{{ config.base_url }}'>
                Home
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}