{% extends 'base.html' %}

{% block main %}
<main class='hero'>
	<div class='hero-body'>
		<div class='container'>
			<div class='columns'>
				<div class='column is-three-fifths is-offset-one-fifth'>
					<figure class='image center mb-2'>
						<img class='is-rounded card' src='{{config.extra.author.avatar}}' style='max-width: 150px'>
					</figure>
					<div class='has-text-centered'>
						<h1 class='title'>{{ section.title }}</h1>
						<h2 class='subtitle'>{{ section.description }}</h2>
						{{ macros:: social_links( social_config=config.extra.social) }}
					</div>
					<hr />
					<div class='content has-text-justified'>
						{{section.content | safe}}
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}