{% extends 'base.html' %}

{% block content %}
<section class='hero pb-0'>
  <div class="hero-head">
    <h1 class='title has-text-centered is-1'>{{ section.title }}</h1>
    <p class='subtitle has-text-centered'>{{ section.description }}</p>
    {% if config.extra.author.avatar %}
    <figure class="image is-flex is-justify-content-center is-align-items-center">
      <img class="is-rounded" src='{{ config.extra.author.avatar }}' style="max-width: 192px" />
    </figure>
    {% endif %}
  </div>
  <div class='hero-body'>
    <div class='container'>
      <div class="content">
        {{ macros:: social_links( social_config=config.extra.social) }}
        {{ section.content | safe }}
      </div>
    </div>
  </div>
</section>
{% endblock %}