{% macro social_links(social_config) %}
<p class="has-text-centered">
  <span class="icon-text">
    {% if social_config.facebook %}
    <a href="https://facebook.com/{{ social_config.facebook }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fab fa-facebook fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.twitter %}
    <a href="https://twitter.com/{{ social_config.twitter }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fab fa-twitter fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.linkedin %}
    <a href="https://www.linkedin.com/in/{{ social_config.linkedin }}" class="icon is-medium has-text-dark"
      target="_blank">
      <i class="fab fa-linkedin fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.github %}
    <a href="https://github.com/{{ social_config.github }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fab fa-github fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.gitlab %}
    <a href="https://gitlab.com/{{ social_config.gitlab }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fab fa-gitlab fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.stackoverflow %}
    <a href="https://stackoverflow.com/users/{{ social_config.stackoverflow }}" class="icon is-medium has-text-dark"
      target="_blank">
      <i class="fab fa-stack-overflow fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.keybase %}
    <a href="https://keybase.io/{{ social_config.keybase }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fab fa-keybase fa-lg"></i>
    </a>
    {% endif %}
    {% if social_config.email %}
    <a href="mailto:{{ social_config.email }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="far fa-envelope fa-lg"></i>
    </a>
    {% endif %}
    {% if config.generate_feed %}
    <a href="{{ config.base_url }}/{{ config.feed_filename }}" class="icon is-medium has-text-dark" target="_blank">
      <i class="fas fa-rss fa-lg"></i>
    </a>
    {% endif %}
  </span>
</p>
{% endmacro %}

{% macro page_publish_metadata(page) %}
<p class="has-text-left has-text-grey">
  <span class="icon-text">
    <span class="icon">
      <i class="fas fa-user"></i>
    </span>
    <span>{{ config.extra.author.name }}</span>
    <span>published on</span>
    <span class="icon">
      <i class="far fa-calendar-alt"></i>
    </span>
    <span><time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></span>
  </span>
</p>
{% endmacro %}

{% macro page_content_metadata(page) %}
<p class="has-text-right has-text-grey">
  <span class="icon-text">
    <span class="icon">
      <i class="far fa-clock"></i>
    </span>
    <span>{{ page.reading_time }} min,</span>
    <span class="icon">
      <i class="fas fa-pencil-alt"></i>
    </span>
    <span>{{ page.word_count }} words</span>
  </span>
</p>
{% endmacro %}

{% macro render_categories(categories) %}
<p class="has-text-left has-text-dark"></p>
  Categories:
  {% for category in categories %}
  <a href="{{ get_taxonomy_url(kind='categories', name=category) }}" class="icon-text">
    <span class="icon">
      <i class="fas fa-folder"></i>
    </span>
    <span>{{category}}</span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro render_tags(tags) %}
<p class="has-text-right has-text-dark">
  Tags:
  {% for tag in tags %}
  <a href="{{ get_taxonomy_url(kind='tags', name=tag) }}" class="icon-text">
    <span class="icon">
      <i class="fas fa-tag"></i>
    </span>
    <span>{{tag}}</span>
  </a>
  {% endfor %}
</p>
{% endmacro %}

{% macro page_share_links(page) %}
<p class="has-text-centered">
  Share:
  <span class="icon-text">
    <a data-sharer="facebook" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on facebook" class="icon">
      <i class="fab fa-facebook"></i>
    </a>
    <a data-sharer="twitter" data-title='{{ page.title }}' data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on twitter" class="icon">
      <i class="fab fa-twitter"></i>
    </a>
    <a data-sharer="linkedin" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on LinkedIn" class="icon">
      <i class="fab fa-linkedin"></i>
    </a>
    <a data-sharer="reddit" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on reddit" class="icon">
      <i class="fab fa-reddit"></i>
    </a>
    <a data-sharer="hackernews" data-title="{{ page.title }}" data-url='{{ page.permalink }}' href="javascript:void(0);" title="Share on hackernews" class="icon">
      <i class="fab fa-hacker-news"></i>
    </a>
  </span>
</p>
{% endmacro %}