{% extends 'base.html' %}

{% block title %}{{ config.title }} | {{ page.title }}{% endblock title %}


{% block main %}
<main class='section'>
	<div class='container'>
		<div class='columns'>
			<div class='column is-10 is-offset-1'>
				<article>
					<h1 class='title'>{{ page.title }}</h1>
					<h2 class='subtitle'>{{ page.description }}</h2>
					<div class='columns mb-0'>
						<div class='column'>
							{{ macros::page_publish_metadata(page=page) }}
						</div>
						<div class='column has-text-right-desktop'>
							{{ macros::page_content_metadata(page=page) }}
						</div>
					</div>

					<div class='columns mb-0'>
						<div class='column'>
							{% if page.taxonomies.categories %}
							{{ macros::render_categories(categories=page.taxonomies.categories) }}
							{% endif %}
						</div>
						<div class='column has-text-right-desktop'>
							{% if page.taxonomies.tags %}
							{{ macros::render_tags(tags=page.taxonomies.tags) }}
							{% endif %}
						</div>
					</div>

					{% if page.extra.toc %}
					<hr />
					<div class='content'>
						<p class='has-text-weight-bold'>Table of Contents</p>
						<ul>
							{% for h1 in page.toc %}
							<li>
								<a href='{{h1.permalink | safe}}'>{{ h1.title }}</a>
								{% if h1.children %}
								<ul>
									{% for h2 in h1.children %}
									<li>
										<a href='{{h2.permalink | safe}}'>{{ h2.title }}</a>
									</li>
									{% endfor %}
								</ul>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}

					
					<hr />

					<div class='content has-text-justified'>
						{{ page.content | safe }}
					</div>

					 <div id="mapid"></div>

					<div class="container has-text-centered mt-6">
						{{ macros::page_share_links(page=page) }}
					</div>
				</article>

				<hr />
				{% if page.earlier or page.later or page.lighter or page.heavier %}
				<nav class='level mt-2'>
					{% if page.later %}
					<div class='level-item has-text-centered'>
						<a href='{{ page.later.permalink }}' class='button is-black is-outlined'>
							<span class='icon mr-2'><i
									class='fas fa-arrow-circle-left'></i></span>{{ page.later.title }}
						</a>
					</div>
					{% endif %}
					{% if page.earlier %}
					<div class='level-item has-text-centered'>
						<a href='{{ page.earlier.permalink }}' class='button is-black is-outlined'>
							{{ page.earlier.title }}<span class='icon ml-2'><i
									class='fas fa-arrow-circle-right'></i></span>
						</a>
					</div>
					{% endif %}

					{% if page.heavier %}
					<div class='level-item has-text-centered'>
						<a href='{{ page.heavier.permalink }}' class='button is-black is-outlined'>
							<span class='icon mr-2'><i
									class='fas fa-arrow-circle-left'></i></span>{{ page.heavier.title }}
						</a>
					</div>
					{% endif %}

					{% if page.lighter %}
					<div class='level-item has-text-centered'>
						<a href='{{ page.lighter.permalink }}' class='button is-black is-outlined'>
							{{ page.lighter.title }}<span class='icon ml-2'><i
									class='fas fa-arrow-circle-right'></i></span>
						</a>
					</div>
					{% endif %}
				</nav>
				{% endif %}
				{% if page.extra.comments and config.extra.commenting.hyvor %}
				<hr />
				<section id='hyvor-talk-view'></section>
				{% endif %}
			</div>
		</div>
	</div>
</main>
{% endblock main %}

{% block custom_js %}
{% if page.extra.comments and config.extra.commenting.hyvor %}
<script type='text/javascript'>
	var HYVOR_TALK_WEBSITE = {{ config.extra.commenting.hyvor }};
	var HYVOR_TALK_CONFIG = {
		url: window.location.href,
		id: window.btoa(encodeURIComponent(escape(window.location.href)))
	};
</script>
<script async type="text/javascript" src="//talk.hyvor.com/web-api/embed"></script>
{% endif %}
{% endblock %}